ImageView {
    -fx-effect: dropshadow(gaussian, #888888, 2, 0, 0, 0);
}

.list-cell {
    -fx-text-fill: white;
}

.list-cell:selected {
    -fx-background-color: #3d2f2f;
    -fx-border-color: #3d2f2f;
    -fx-text-fill: white;
}

.list-cell:selected .text {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0.3, 0, 0, 0);
}

Button {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-padding: 6 10;
    -fx-background-radius: 5;
    -fx-border-color: #666666;
    -fx-border-width: 0;
}

Button:pressed {
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0, 0, 1);
}

.Button:hover {
    -fx-background-color: #555555;
}

#loginBtn, #registerBtn{
    -fx-background-color: #363232;
    -fx-pref-width: 90;
    -fx-pref-height: 25;
}

.body{
    -fx-background-image: url(../img/restaurant-background-2ez77umko2vj5w02.jpg);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.pane{
    -fx-background-color: rgba(255, 255, 255, 0.6);
}